@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,800');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@font-face {
  font-family: Aileron Heavy;
  src: url(aileron.heavy.otf);
}

body {
  margin: 0;
  font-family: 'Raleway', Arial, sans-serif;
}

.titlePage {
  font-family: Aileron Heavy;
}
a:hover {
  color: #FAA74A !important;
}
.socmed:hover {
  color: #FFF !important;
}
.jumbotron {
  background-image: url("Banner WebDes (1).png");
  background-size: cover;
  height: 500px;
}
.jumbotron .container .display-4 {
  font-family: Aileron Heavy;
  color: #FFF;
  font-size: 90px;
  position: relative;
  top: 100px;
}
.jumbotron .container .lead-1 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #FFF;
  font-size: 20px;
  position: relative;
  top: 130px;
}
.jumbotron .container .lead-2 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #FFF;
  font-size: 20px;
  position: relative;
  top: 80px;
}
/* NOTE: Header Fixed */
.top-container {
  background-color: #000;
  text-align: center;
}
.header {
  padding: 5px;
  background-color: #21409a;
  z-index: 5;
  height: 125px;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 102px;
}

/* NOTE: Navbar Menu */
.navMenu {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  font-weight: 500;
}
.navMenu * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navMenu li {
  display: inline-block;
  list-style: outside none none;
  margin: 1em;
  overflow: hidden;
}
.navMenu a {
  padding: 0.3em 0;
  color: rgba(201, 201, 201, 0.5);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.navMenu a:before,
.navMenu a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navMenu a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #FFF;
}
.navMenu a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: #FFF;
  white-space: nowrap;
}
.navMenu li:hover a,
.navMenu .current a {
  transform: translateY(100%);
}

/* NOTE: News Card */
.newsCard {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #FFF;
  color: #000000;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.newsCard * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.newsCard:after {
  position: absolute;
  top: 12px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 25px;
  border-color: transparent transparent transparent #FAA74A;
  content: '';
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.newsCard img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
.newsCard figcaption {
  padding: 20px 20px 30px;
  background-color: #ffffff;
}
.newsCard .date {
  background-color: #FAA74A;
  top: 15px;
  color: #fff;
  right: 15px;
  min-height: 48px;
  min-width: 48px;
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50%;
  padding: 10px 0;
}
.newsCard .date span {
  display: block;
  line-height: 14px;
}
.newsCard .date .month {
  font-size: 11px;
}
.newsCard h3,
.newsCard p {
  margin: 0;
  padding: 0;
}
.newsCard h3 {
  font-family: Aileron Heavy;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 700;
}
.newsCard p {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 0.8em;
  margin-bottom: 20px;
  line-height: 1.6em;
}
.newsCard footer {
  font-family: 'Raleway', Arial, sans-serif;
  padding: 0 25px;
  color: #999999;
  font-size: 0.8em;
  line-height: 50px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.newsCard footer > div {
  display: inline-block;
  margin-right: 15px;
}
.newsCard footer i {
  margin-right: 5px;
  font-size: 1.2em;
}
.newsCard a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.newsCard:hover:after,
.newsCard.hover:after {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

/* NOTE: Footer */
.site-footer {
  font-family: 'Raleway', Arial, sans-serif;
  background-color:#26272B;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr {
  border-top-color:#BBB;
  opacity:0.5
}
.site-footer hr.small {
  margin:20px 0
}
.site-footer h6 {
  color:#FFF;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a {
  color:#737373;
}
.site-footer a:hover {
  color:#3366CC;
  text-decoration:none;
}
.footer-links {
  padding-left:0;
  list-style:none
}
.footer-links li {
  display:block
}
.footer-links a {
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
  color:#3366CC;
  text-decoration:none;
}
.footer-links.inline li {
  display:inline-block
}
.site-footer .social-icons {
  text-align:right
}
.site-footer .social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353D;
}
.copyright-text {
  margin:0
}
@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom:30px
  }
}
@media (max-width:767px) {
  .site-footer {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons {
    text-align:center
  }
}
.social-icons {
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li {
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title {
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a {
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover {
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a {
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover {
  background-color:#3b5998
}
.social-icons a.telegram:hover {
  background-color:#0088cc
}
.social-icons a.youtube:hover {
  background-color:#ff0000
}
.social-icons a.whatsapp:hover {
  background-color:#25d366
}
@media (max-width:767px) {
  .social-icons li.title {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* NOTE: Event Card */
.snip1579 {
  font-family: Aileron Heavy;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1579 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1579 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1579 figcaption {
  position: absolute;
  height: 75px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.75);
}
.snip1579 h3 {
  font-family: 'Raleway', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}
.snip1579 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
}
.snip1579 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1579:hover figcaption,
.snip1579.hover figcaption {
  height: calc(85%);
}

.galeri {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.galeri:hover {opacity: 0.7;}
